{% extends 'layouts/layout.html' %}

{% block main_content %}
    <h2 class="description-tables">Tablas creadas</h2>
    <ul class="table-collection">
        
        {% for table in tables %}
            <li>
                <div class="option-table check"><a href="{% url 'tables_app:word_list' table_id=table.id  title=table.title %}" >{{table.title|upper}}</a></div>
                <div class="option-table update"><a href="{% url 'tables_app:updatetable' pk=table.id %}">Actualizar</a></div>
                <div class="option-table delete"><a href="{% url 'tables_app:removetable' pk=table.id %}">Eliminar</a></div>
            </li>

        {% endfor %}

    </ul>

    {% include 'includes/pagination.html' %}
{% endblock %}