{% extends 'layouts/layout.html' %}
{% load static %}

{% block main_content %}

    

    <div class="mask">
        <form class="form form-register" action="" method="POST" >
            {% csrf_token %}
    
            {% for field in user_form %}
                <div class="field">
                    <label for="">{{field.label}}</label> 
                    {{field}}
                </div>

                {% if field.id_for_label == 'id_last_name' %}
                    <div class="field">
                        {{user_profile_form}}
                    </div>
                {% endif %}
            {% endfor %}

            {% if user_form.errors %}
            <strong class="error">
                La contraseña debe tener como mínico 8 caracteres entre mayúsculas y minúsculas.
            </strong>
            {% endif %}
            
            <div class="box-button-submit">
                Iniciar sesión
            </div>
        </form>
    </div>

    
    
{% endblock %}