{% extends 'layouts/layout.html' %}
{% load static %}

{% block main_content %}

    

    <div class="mask">
        <form class="form form-register" action="" method="POST" >
            {% csrf_token %}
    
            {% for field in user_form %}
                <label for="">{{field.label}}</label> 
                {{field}}

                {% if field.id_for_label == 'id_last_name' %}
                    {{user_profile_form}}
                {% endif %}
            {% endfor %}

            {% if user_form.errors %}
            <strong class="error">
                La contraseña debe tener como mínico 8 caracteres entre mayúsculas y minúsculas.
            </strong>
            {% endif %}
            
            <div class="box-button-submit">
                <button type="submit" >Iniciar sesión</button>
            </div>
        </form>
    </div>

    
    
{% endblock %}