.mask {
  width: 36%;
  margin: 0 auto;
  margin-top: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(44, 38, 38);
  border-radius: 5px;
}
/* =========================================================== form of register */
.form-register {
  width: 100%;
  margin: 0 auto;
}
.form-register input {
  width: 97%;
  height: 33px;
  padding: 3px;
  border-radius: 5px;
  margin: 0 auto;
  border-radius: 4px;
  font-size: 15px;
  background-color: #e0e0ad;
}
.wellcome-user {
  text-align: center;
  height: auto;
  margin-top: 150px;
}
/* =========================================================== form of login */

.form-login {
  width: 100%;
}
div.field,
.button-register {
  width: 88%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.form-login input {
  width: 96.5%;
  height: 33px;
  padding: 3px;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 15px;
  background-color: #e0e0ad;
}

.button-register {
  text-align: center;
  border-radius: 5px;
  width: 88%;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #121144;
  font-size: 16px;
}
.button-register:hover {
  background-color: #131177;
}
.button-register a {
  color: white;
  text-decoration: none;
  display: block;
}

/* =========================================================== form of login and register */
div.box-button-submit {
  width: 88%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgb(11, 114, 11);
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}
div.box-button-submit:hover {
  background-color: rgb(11, 170, 11);
}

ul.errorlist {
  list-style-position: inside;
}
li.error {
  list-style-position: outside;
}
.alert-warning {
  background-color: red;
  width: 84%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
}
/* responsive */
@media (max-width: 960px) {
  /* ========================================================= user */
  .mask {
    width: 70%;
  }
  .form-login input,
  .form-register input {
    width: 98%;
  }
}
@media (max-width: 754px) {
  .form-login input,
  .form-register input {
    width: 97%;
  }
}
@media (max-width: 468px) {
  /* ========================================================= user */
  .form-login input,
  .form-register input {
    width: 96%;
  }
}
