{% extends 'table/main menu.html' %}

{% block content_table %}

    <div class="assets">
        {% if asset == 'pdf_doc' %}
            {% if pdfpath != '' %}
                <P>ENLACE: <a href="{% url 'tables_app:download' pdfpath=pdfpath %}">Descargar</a></P>
            {% else %}
                 <p>Esta tabla no tiene un documento PDF</p>

                
                {% if owner_table == user.id %}
                    <button class="update-table"><a href="{% url 'tables_app:updatetable' pk=table_id %}">Actualizar</a></button>
                {% endif %}

            {% endif %}


        {% else %}
            {% if link != None %}
                <P>ENLACE: <a href="{{link}}">sitio web</a></P>
            {% else %}
                <p>Esta tabla no tiene vínculo a un sitio web</p>

                {% if owner_table == user.id %}
                    <button class="update-table"><a href="{% url 'tables_app:updatetable' pk=table_id %}">Actualizar</a></button>
                {% endif %}
                
            {% endif %}
            
        {% endif %}
    </div>

{% endblock %}